In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
import pickle
import numpy as np
import matplotlib.pyplot as plt
import collections
%matplotlib inline

In [2]:
test_x = pd.read_pickle('new_test.pkl')
test_x.head()

    timestamp  device_id  user_id  won_price
0  1430264861      57357   399743  184000000
1  1430264862     255449   361123  198000000
2  1430264862     187710    72636  197000000
3  1430264862     231712   238101  208000000
4  1430264862     361026   285994  107000000

In [3]:
print(test_x.shape)
test_x.nunique()

(508158, 4)

timestamp    109957
device_id    215059
user_id      214824
won_price       380
dtype: int64

In [4]:
clf = pickle.load(open('final_model.sav', 'rb')) #load the model

In [10]:
clf.predict(test_x) #class prediction for test data

array([0, 0, 0, ..., 0, 0, 0])

In [6]:
probability = clf.predict_proba(test_x)[:,1] #save the probability for clicked is True
print(probability)

[0.14437846 0.02654964 0.24911441 ... 0.17949627 0.31104518 0.25200475]

In [7]:
test_y = pd.DataFrame(probability,columns=["clicked"]) #save the probability into dataframe
test_x.iloc[0:15, :]

     timestamp  device_id  user_id  won_price
0   1430264861      57357   399743  184000000
1   1430264862     255449   361123  198000000
2   1430264862     187710    72636  197000000
3   1430264862     231712   238101  208000000
4   1430264862     361026   285994  107000000
5   1430264863     208086   307941    -100000
6   1430264863      51840    16200   84000000
7   1430264863     160610    30227  172000000
8   1430264863     203246   195488  191000000
9   1430264863     239412   256995  197000000
10  1430264863     285131   361043  208000000
11  1430264864     100244     3634   37000000
12  1430264864     140034   161799  198000000
13  1430264864     237455    25448  130000000
14  1430264864     134362   440423  198000000

In [8]:
results = test_x.join(test_y) # join the data with predictions

In [9]:
results.to_pickle('results.pkl') #save the results

In [10]:
results = pd.read_pickle("results.pkl")
results.iloc[0:15, :]

     timestamp  device_id  user_id  won_price   clicked
0   1430264861      57357   399743  184000000  0.144378
1   1430264862     255449   361123  198000000  0.026550
2   1430264862     187710    72636  197000000  0.249114
3   1430264862     231712   238101  208000000  0.163310
4   1430264862     361026   285994  107000000  0.000000
5   1430264863     208086   307941    -100000  1.000000
6   1430264863      51840    16200   84000000  0.141893
7   1430264863     160610    30227  172000000  0.310378
8   1430264863     203246   195488  191000000  0.424507
9   1430264863     239412   256995  197000000  0.066222
10  1430264863     285131   361043  208000000  0.010498
11  1430264864     100244     3634   37000000  0.175343
12  1430264864     140034   161799  198000000  0.084012
13  1430264864     237455    25448  130000000  0.303901
14  1430264864     134362   440423  198000000  0.116689

In [11]:
t = (results['clicked'] > 0.5)
t.value_counts()

False    480334
True      27824
Name: clicked, dtype: int64